:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;

}

.container {
    padding: 25px;
    background-color: #f0f0f05c;
    border-radius: .5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 30%;
    margin: 10% 0;
    text-align: center;

    .container-text {
        width: 100%;

        .message {
            color: #666;
            font-weight: 600;
            font-size: 19px;
        }

        .success {
            color: #000;
            font-weight: 700;
            font-size: 23px;
        }
    }
}

svg {
    height: 50px;
}